<%= render 'layouts/sidebar' %>
<div class="reportss wrapppper row col-sm-10">
	<h2 class="page-title">My reviews</h2>
	<div class="single-review">
		<div class="hexagon"><span>1</span></div><h2>Pictures</h2>
		<% if @review.picture1.present? %>
			<div class="image-container">
				<%= image_tag(@review.picture1, :class => "") %>
				<h4><%= @review.picture1.name %></h4>
			</div>
		<% end %>
		<% if @review.picture1.present? %>
			<div class="image-container">
				<%= image_tag(@review.picture2, :class => "") %>
				<h4><%= @review.picture2.name %></h4>
			</div>
		<% end %>
		<% if @review.picture2.present? %>
			<div class="image-container">
				<%= image_tag(@review.picture3, :class => "") %>
				<h4><%= @review.picture3.name %></h4>
			</div>
		<% end %>
		<% if @review.picture3.present? %>
			<div class="image-container">
				<%= image_tag(@review.picture4, :class => "") %>
				<h4><%= @review.picture4.name %></h4>
			</div>
		<% end %>
		<% if @review.picture4.present? %>
			<div class="image-container">
				<%= image_tag(@review.picture5, :class => "") %>
				<h4><%= @review.picture5.name %></h4>
			</div>
		<% end %>
		<% if @review.picture5.present? %>
			<div class="image-container">
				<%= image_tag(@review.picture6, :class => "") %>
				<h4><%= @review.picture6.name %></h4>
			</div>
		<% end %>
		<div class="hexagon"><span>2</span></div><h2>Ratings</h2>
			<ul class="ratings">
				<li class="block-rating">
					<h3>Wholesomness</h3>
					<ul class="stars rating-<%= @review.wholesomness_rating %>">
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
					<div class="who"><span class="polymask"><%= image_tag(@review.visiter.visiter.avatar.url(:thumb), :class => "content avatar") %></span>
					</div>
					<p>"<%= @review.wholesomness_comment %> "</p>
				</li>
				<li class="block-rating">
					<h3>Neighberhood</h3>
					<ul class="stars rating-<%= @review.neighberhood_rating %>">
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
					<div class="who"><span class="polymask"><%= image_tag(@review.visiter.visiter.avatar.url(:thumb), :class => "content avatar") %></span>
					</div>
					<p>"<%= @neighberhood_comment %> "</p>
				</li>
				<li class="block-rating">
					<h3>Brooker</h3>
					<ul class="stars rating-<%= @review.brooker_rating %>">
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
					<div class="who"><span class="polymask"><%= image_tag(@review.visiter.visiter.avatar.url(:thumb), :class => "content avatar") %></span>
					</div>
					<p>"<%= @review.brooker_comment %> "</p>
				</li>
				<li class="block-rating">
					<h3>Furniture</h3>
					<ul class="stars rating-<%= @review.furniture_rating %>">
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
					<div class="who"><span class="polymask"><%= image_tag(@review.visiter.visiter.avatar.url(:thumb), :class => "content avatar") %></span>
					</div>
					<p>"<%= @review.furniture_comment %> "</p>
				</li>
				<li class="block-rating">
					<h3>Bathrooms</h3>
					<ul class="stars rating-<%= @review.bathrooms_rating %>">
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
					<div class="who"><span class="polymask"><%= image_tag(@review.visiter.visiter.avatar.url(:thumb), :class => "content avatar") %></span>
					</div>
					<p>"<%= @review.bathrooms_comment %> "</p>
				</li>
				<li class="block-rating">
					<h3>Light</h3>
					<ul class="stars rating-<%= @review.light_rating %>">
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
					<div class="who"><span class="polymask"><%= image_tag(@review.visiter.visiter.avatar.url(:thumb), :class => "content avatar") %></span>
					</div>
					<p>"<%= @review.light_comment %> "</p>
				</li>
				<li class="block-rating">
					<h3>Noise pollution</h3>
					<ul class="stars rating-<%= @review.noise_pollution_rating %>">
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
					<div class="who"><span class="polymask"><%= image_tag(@review.visiter.visiter.avatar.url(:thumb), :class => "content avatar") %></span>
					</div>
					<p>"<%= @review.noise_pollution_comment %> "</p>
				</li>
				<li class="block-rating">
					<h3>Electricity</h3>
					<ul class="stars rating-<%= @review.electricity_rating %>">
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
					<div class="who"><span class="polymask"><%= image_tag(@review.visiter.visiter.avatar.url(:thumb), :class => "content avatar") %></span>
					</div>
					<p>"<%= @review.electicity_comment %> "</p>
				</li>
				<li class="block-rating">
					<h3>Pipework</h3>
					<ul class="stars rating-<%= @review.pipework_rating %>">
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
					<div class="who"><span class="polymask"><%= image_tag(@review.visiter.visiter.avatar.url(:thumb), :class => "content avatar") %></span>
					</div>
					<p>"<%= @review.pipework_comment %> "</p>
				</li>
			</ul>
		</div>
	</div>
</div>