<%= render 'layouts/sidebar' %>
<div class="dashboardd col-sm-10 row wrapppper">
	<h1 class="page-title">Welcome back, <%= current_user.firstname %></h1>

	<div class="level dash-block level-<%= current_user.level %>">
		<h2>Experience level</h2>
		<div class="level-progress"></div>
		<ul>
			<li><span class="circle"></span><span class="text">Noobie</span></li>
			<li><span class="circle"></span><span class="text">User</span></li>
			<li><span class="circle"></span><span class="text">Power-User</span></li>
			<li><span class="circle"></span><span class="text">Expert</span></li>
		</ul>
	</div>

	<div class="account dash-block">
		<h2>Account: </h2>
	</div>

	<div class="notifications dash-block">
		<h2>Notifications: </h2>

	</div>

	<div class="visit-offers dash-block col-sm-12">
		<div class="potential-visiters">
			<h2>Waiting for scheduling :</h2>
			<p class="review-offer"><%= link_to('See all review offers', reports_path) %></p>
			<% if @visiters.present? %>
				<% @visiters.each do |visit| %>
					<div class="visit-pending">
							<% if visit[1].present? %>
								<% visit[1].each do |visiter| %>
								    <article class="single-user">
								    	<span class="polymask"><%= image_tag(visiter.visiter.avatar.url(:thumb), :class => "content avatar") %></span>
								    	<p class="name-visitor">
											<%= visiter.visiter.firstname %>
											<%= visiter.visiter.lastname %>
								    	</p>

								    	<p class="ratings">13 reviews</p>

								    	<p class="where-to">
								    		<span class="title">Offered to visit</span><%= visit[0].adress  %>, <%= visit[0].city  %>, <%= visit[0].zipcode  %>
								    	</p>

								    	<p class="when">
								    		<span class="title">Date :</span> <%=  parseDatetime( visiter.visit.visitDate1, visiter.visit.visitTime1 ) %>
								    	</p>
										
										<div class="action">
							            	<%= link_to "Confirm" , visiter_accept_path( :visiter_id => visiter.id ), :class => "button accept-visit-button" %>

							            	<%= link_to "Deny" , visiter_refuse_path( :visiter_id => visiter.id ), :class => "button refuse-visit-button" %>
							            </div>
								    </article>
								<% end %>
							<% else %>
								<p class="no-offer">There's no offer pending right now.</p>
							<% end %>
					<% else %>
						<p class="no-offer">There's no offer pending right now.</p>
					<% end %>
				</div>
			<% end %>
		<% else %>
			<p> You don't have any visit pending </p>
		<% end %>
	<div class="reports dash-block col-sm-12">
		<h2>Your last reports: </h2>
	</div>

	<div class="reviews dash-block col-sm-12">
		<h2>Your last reviews: </h2>
	</div>
</div>