<%= render 'layouts/sidebar' %>
<div class="dashboardd col-sm-10 row wrapppper">
	<h1 class="page-title">Welcome back, <%= current_user.firstname %></h1>

	<div class="level dash-block level-<%= current_user.level %>">
		<h2>Experience level</h2>
		<div class="level-progress"></div>
		<ul>
			<li><span class="circle"></span><span class="text">Noobie</span></li>
			<li><span class="circle"></span><span class="text">User</span></li>
			<li><span class="circle"></span><span class="text">Power-User</span></li>
			<li><span class="circle"></span><span class="text">Expert</span></li>
		</ul>
	</div>

	<div class="account dash-block">
		<h2>Account</h2>
		<%= link_to('Modify', edit_user_registration_path, :class => 'quick-access') %>

		<h3>Ratings</h3>

		<ul class="stars rating-<%= current_user.rating %>">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>

		<div class="num-visit account-infos">
			<h3>Number of visits</h3>
			<p class="value"><%= @visits.length %></p>
		</div>

		<div class="account-balance account-infos">
			<h3>Account balance</h3>
			<p class="value"><%= current_user.account_balance %>$</p>
		</div>

		<div class="def-city account-infos">
			<% if current_user.default_city.present? %>
				<h3>Default city</h3>
				<p class="value"><%= current_user.default_city %></p>
			<% end %>
		</div>

		<div class="alert-zone account-infos">
			<h3>Alert zone</h3>
			<p class="value"><%= current_user.alert_zone %>km</p>
		</div>
	</div>

	<div class="notifications dash-block">
		<h2>Notifications ( <%= @notifications_unread.length %> ) </h2>
		<% if @notifications.present? %>
			<% @notifications.each do |notification| %>
				<article class="notification <% if notification.read == false %> new <% end %>">

					<% if notification.notification_type == "offer" %>
						<span><%= notification.sender.name %></span> <span class="offered">has offered to visit for you !</span>
					<% elsif notification.notification_type == "accepted" %>
						<span><%= notification.sender.name %></span> <span class="accepted">has accepted you to visit for him !</span>
					<% elsif notification.notification_type == "refused" %>
						<span><%= notification.sender.name %></span> <span class="denied">has denied you to visit for him</span>
					<% end %> 
				</article>
			<% end %>
		<% else %>
			<p class="no-offer">You have no notification for now.</p>
		<% end %>
	</div>

	<div class="visit-offers dash-block col-sm-12 reportss dashboard-reports">
		<div class="potential-visiters">
			<h2>Visit offers :</h2>
			<% if @visiters.present? %>
				<% @visiters.each do |visit| %>
					<div class="visit-pending">
						<h3><%= visit[0].adress  %>, <%= visit[0].city  %>, <%= visit[0].zipcode  %></h3>
						<% if visit[1].present? %>
							<% visit[1].each do |visiter| %>
							    <article class="single-user">
							    	<span class="polymask"><%= image_tag(visiter.visiter.avatar.url(:thumb), :class => "content avatar") %></span>
							    	<p class="name-visitor">
										<%= visiter.visiter.firstname %>
										<%= visiter.visiter.lastname %>
							    	</p>

							    	<p class="ratings">13 reviews</p>

							    	<p class="where-to">
							    		<span class="title">Offered to visit</span><%= visit[0].adress  %>, <%= visit[0].city  %>, <%= visit[0].zipcode  %>
							    	</p>

							    	<p class="when">
							    		<span class="title">Date :</span> <%=  parseDatetime( visiter.visit.visitDate1, visiter.visit.visitTime1 ) %>
							    	</p>
									
									<div class="action">
						            	<%= link_to "Confirm" , visiter_accept_path( :visiter_id => visiter.id ), :class => "button accept-visit-button" %>

						            	<%= link_to "Deny" , visiter_refuse_path( :visiter_id => visiter.id ), :class => "button refuse-visit-button" %>
						            </div>
							    </article>
							<% end %>
						<% else %>
							<p class="no-offer">There's no offer pending for this offer right now.</p>
						<% end %>
					</div>
				<% end %>
			<% else %>
				<p class="no-offer"> You don't have any visit pending </p>
			<% end %>
		</div>
	</div>

	<div class="myvisits reportss col-sm-12 dash-block">
		<h2>Your last visit reports :</h2>
		<% if @confirmed_visiters.present? %>
			<% @confirmed_visiters.each do |visiter| %>
			    <article class="confirmed-visit dash-block">
					<h3>Visit Scheduled</h3>
					<p class="when"> <%= parseDatetime( visiter.visit.visitDate1, visiter.visit.visitTime1 ) %> </p>

					<%= link_to 'Destroy', visiter_path(visiter), :method => :delete, :confirm => "Are you sure?", :class => 'cancel-button' %>

					<p class="where-to"><%= visiter.visit.adress  %>, <%= visiter.visit.city  %>, <%= visiter.visit.zipcode  %></p>
					
					<span class="polymask"><%= image_tag(visiter.visit.requester.avatar.url(:thumb), :class => "content avatar") %></span>
			    	<p class="name-visitor">
			    		With :
						<%= visiter.visit.requester.firstname %>
						<%= visiter.visit.requester.lastname %>
			    	</p>
			    </article>
			<% end %>
		<% else %>
			<p class="no-offer"> You dont have any offer yet </p>
		<% end %>
	</div>

	<div class="reviews dash-block col-sm-12">
		<h2>Your last reviews</h2>
		<% if @confirmed_visiters.present? %>
			<% @user_reviews.each do |review| %>
				<article>
					<%= image_tag(review.picture1, :class => "review-back") %>
					<p class="earnings">You earned : <span>35$</span></p>
					<p class="adress"><%= review.visiter.visit.adress %>, <%= review.visiter.visit.zipcode %>, <%= review.visiter.visit.city %></p>
					
					<div class="who"><span class="polymask"><%= image_tag(review.visiter.visiter.avatar.url(:thumb), :class => "content avatar") %></span> By <%= review.visiter.visiter.name %></div>
				</article>
			<% end %>
		<% else %>
			<p class="no-offer"> You dont have any review yet </p>
		<% end %>
	</div>
	<div class="clearfix"></div>
</div>
<div class="clearfix"></div>