<h2>Latest asked visits</h2>

<% @visits.each do |visit| %>
    <article class="visit">
        <p class="author"><%= visit.requester.firstname %> <%= visit.requester.lastname %></p>
        <p class="adress">
            <%= visit.adress %>
            <%= visit.city %>
            <%= visit.zipcode %>
            <%= visit.country %>
        </p>

        <p class="surface"><%= visit.surface %></p>

        <% if visit.requester.id != current_user.id %>
            <% if current_user.has_requested_mission(visit.id) %>
                <p class="follow-people"> Your request has been send. </p>
            <% else %>
                <%= visit.visitDate1 %> <%= visit.visitTime1 %> 
                <%= link_to "I can visit it for you" , visiter_add_path(:visit_id => visit.id, :visitDate =>visit.visitDate1, :visitTime => visit.visitTime1), :class => "button visit-it-button" %>

                <% if visit.visitDate2.present? && visit.visitTime2.present? %>
                    <%= visit.visitDate1 %> <%= visit.visitTime1 %>
                    <%= link_to "I can visit it for you" , visiter_add_path(:visit_id => visit.id, :visitDate => visit.visitDate2, :visitTime => visit.visitTime2 ), :class => "button visit-it-button" %>
                <% end %>

                <% if visit.visitDate3.present? && visit.visitTime3.present? %>
                    <%= visit.visitDate3 %> <%= visit.visitTime3 %>
                    <%= link_to "I can visit it for you" , visiter_add_path(:visit_id => visit.id, :visitDate => visit.visitDate1, :visitTime => visit.visitTime1), :class => "button visit-it-button" %>
                <% end %>
            <% end %>
        <% end %>
    </article>
<% end %>

