<section class="home-section">
	<div class="home-container">
		<div class="wrap-home">
			<h1 class="logo">Hubiquity</h1>
			<h3>, your local advisor for appartments walk-throughs</h3>

			<%= form_for @visit, url: {controller: "visit", action: "new"}, html: {class: "visit_form dynamic-form search-form"} do |f| %>
				<%= field_set_tag nil, class: 'search-fieldset' do %>
				<%= f.text_field :city, :placeholder => "City", :onfocus => "this.placeholder = ''", :onblur => "this.placeholder = 'City'", :class => "search-input search-place"  %>

				<%= f.date_field :visitDate1, :placeholder => "Date", :onfocus => "this.placeholder = ''", :onblur => "this.placeholder = 'Date'", :class => "search-input search-date"  %>

				<%= f.time_field :visitTime1, :placeholder => "Time", :onfocus => "this.placeholder = ''", :onblur => "this.placeholder = 'Time'", :class => "search-input search-time"  %>

				<%= f.text_field :surface, :placeholder => "Surface", :onfocus => "this.placeholder = ''", :onblur => "this.placeholder = 'Surface'", :class => "search-input search-size"  %>
				<% end %>
				<%= f.submit "Submit request", :class => "search-submit" %>
  			<% end %>
		</div>
	</div>

	<div class="our-values">
		<h3 class="our-values-title">Finding your home from afar should be that easy</h3>

		<ul class="our-values-list">
			<li class="our-values-list-item">
				<h4>Guarantee of results</h4>
				<span>Only high-quality pictures &amp; reports accepted</span>
			</li>
			<li class="our-values-list-item">
				<h4>100% trustworthy</h4>
				<span>Find your home led by the expertise of locals</span>
			</li>
			<li class="our-values-list-item">
				<h4>Getting rewarded</h4>
				<span>Earning money for knowing your neighborhood</span>
			</li>
		</ul>
	</div>

	<div class="our-community">
		<h3 class="our-community-title">Our community is worldwide</h3>
		<h4 class="our-community-sous-title">Discover our experts tips for all the biggest capitals of the world</h4>

		<ul class="our-community-list">
			<li class="our-community-list-item">
				<%= image_tag("citiy_sydney.png", class: "our-community-city-photo", alt: "Sydney") %>
				<span>Life tips for</span>
				<h5>Sydney</h5>
				<a href="" download>Download the kit</a>
			</li>
			<li class="our-community-list-item">
				<%= image_tag("citiy_berlin.png", class: "our-community-city-photo", alt: "Berlin") %>
				<span>Life tips for</span>
				<h5>Berlin</h5>
				<a href="" download>Download the kit</a>
			</li>
			<li class="our-community-list-item">
				<%= image_tag("citiy_london.png", class: "our-community-city-photo", alt: "London") %>
				<span>Life tips for</span>
				<h5>London</h5>
				<a href="" download>Download the kit</a>
			</li>
		</ul>

		<div class="learn-more">
			<span>Want to discover more about our experts?</span>
			<a href="">Meet the hubiquity community</a>
		</div>

		
	</div>
</section>