<section class="home-section">
  <div class="home-container">
    <div class="gradient-home"></div>
    <div class="wrap-home">
      <h1 class="logo"><span>Hubiquity</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 610.4 161.1" enable-background="new 0 0 610.4 161.1">
          <g fill="#fff">
            <path d="M50 86.7h-28.6v36.3c0 2.3-.7 2.5-2.5 2.5h-11.2c-1.7 0-2.6-.2-2.6-2.5v-79.9c0-1.9.7-2.4 2.6-2.4h11.2c1.9 0 2.5.5 2.5 2.4v33.1h28.6v-32.9c0-1.8.1-2.6 2.4-2.6h11.3c2 0 2.6.2 2.6 2.4v80c0 2.3-1 2.4-2.5 2.4h-11.3c-2 0-2.5-.5-2.5-2.6v-36.2zM142.4 100.7c-.1 3.7-.1 8.5-2.5 13.3-1.1 2.3-6.5 13.4-26.3 13.4-11.2 0-22.1-3.5-26.8-13.4-2-4.3-2.5-9.5-2.5-14.3v-56.6c0-2 .6-2.3 2.3-2.3h11.8c1.9 0 2.5.1 2.5 2.3v54.8c.1 5.2.5 17 14.5 17 13.9 0 14-12.2 14-15.8v-55.8c0-2.2.5-2.5 2.4-2.5h8c1.8 0 2.5.2 2.5 2.3v57.6zM160.2 45.6c0-2.5.5-3.4 2.4-4.1 2.9-1 12.2-1.7 19.2-1.7 8.9 0 17.6.8 23.9 4.7 6.4 3.8 9.1 9.7 9.1 16.1 0 10.9-8.3 16.3-12.8 18.6l-2.8 1.1c1 .2 1.8.4 2.6.6 12.4 3.2 17.5 12.5 17.5 22 0 10-5.8 16.6-13.6 20-5.5 2.3-12.6 3.5-24 3.5-9 0-16.9-1-19-1.6-2.2-.6-2.6-1.3-2.6-4.4v-74.8zm16 31.5c3.1.1 5.5.1 8.4-.1 13.2-1.4 14.2-11.2 14.2-14 0-13.8-13.3-13.8-16.1-13.8-2.4 0-3.8.1-6.5.5v27.4zm0 38.9c1.8.2 4.6.5 7.8.5 11 0 18.7-4.3 18.7-14.8 0-16.6-16.6-16.6-21.5-16.6-2.2 0-3.4.1-5 .2v30.7zM249 122.9c0 2.3-1.1 2.6-2.6 2.6h-11.2c-1.7-.1-2.6-.5-2.6-2.6v-79.6c.1-1.7.4-2.5 2.5-2.5h11.4c1.8 0 2.5.4 2.5 2.5v79.6zM338.3 146.5c3 .7 4.8 1.2 4.8 3.8 0 1.3-.8 3.5-4.2 3.5-2.4 0-33.8-3.6-43.7-26.8-23.8-3.8-32.8-23.9-32.8-43.3 0-29.8 17.5-44.9 38.4-44.9 22.7 0 38 18 38 43.9 0 14.3-5.2 35-26.6 43.1 4 13.6 18.9 18.8 26.1 20.7zm-22.1-88.4c-5.4-8.4-12.7-9.1-15.5-9.1-5.8 0-12 3.1-16.1 9.5-4.2 6.7-5.3 16.3-5.3 24.4 0 7.4 1 17.4 5.3 24.7 6 10 14.4 10 16 10 5.9 0 12.4-3.1 16.7-10.7 4.1-7.3 4.8-17.4 4.7-24.5 0-5.9-.7-16.5-5.8-24.3zM409.8 100.7c-.1 3.7-.1 8.5-2.5 13.3-1.1 2.3-6.5 13.4-26.3 13.4-11.2 0-22.1-3.5-26.8-13.4-2-4.3-2.5-9.5-2.5-14.3v-56.6c0-2 .6-2.3 2.3-2.3h11.8c1.9 0 2.5.1 2.5 2.3v54.8c.1 5.2.5 17 14.5 17 13.9 0 14-12.2 14-15.8v-55.8c0-2.2.5-2.5 2.4-2.5h8c1.8 0 2.5.2 2.5 2.3v57.6zM444 122.9c0 2.3-1.1 2.6-2.6 2.6h-11.2c-1.7-.1-2.6-.5-2.6-2.6v-79.6c.1-1.7.4-2.5 2.5-2.5h11.4c1.8 0 2.5.4 2.5 2.5v79.6zM488.9 51.5v71.2c0 2-.5 2.9-2.5 2.9h-10.9c-2.2-.1-2.9-.5-2.9-2.9v-71.2h-18.1c-2.2 0-2.6-.7-2.6-2.6v-5.6c0-2.2.8-2.5 2.6-2.5h52.7c1.7 0 2.6.2 2.6 2.3v5.9c0 1.9-.5 2.6-2.6 2.6h-18.3zM594.1 6.1c-7.8.1-14-.9-17.7 4.1-11.3 15-17 32.6-24.8 49.4l-5.1-15.5c-1.1-2.9-2-3.1-4.4-3.1h-20.8c-1.6 0-3 .4-3 2.2 0 .6 0 1.3.5 2.4l18.2 42.7v34.3c0 2.8 1.6 3.4 3.8 3.4h19.7c1.3 0 2.5-.3 2.5-2.9v-34l5-11.2c9.6-18.7 17.6-39 30.2-56.1 10.1-13.8 7.1-15.9-4.1-15.7z"/>
          </g>
        </svg>
      </h1>
      <h3>, your local advisor for appartments walk-throughs</h3>

      <%= form_for @visit, method: "get", url: {controller: "visit", action: "new"}, html: {class: "visit_form dynamic-form"} do |f| %>
        <div class="search-fieldset">
          <%= f.text_field :city, :placeholder => "City", :onfocus => "this.placeholder = ''", :onblur => "this.placeholder = 'City'", :class => "search-input search-place"  %>

          <%= f.date_field :visitDate1, :placeholder => "Date", :onfocus => "this.placeholder = ''", :onblur => "this.placeholder = 'Date'", :class => "search-input search-date"  %>

          <%= f.time_field :visitTime1, :placeholder => "Time", :onfocus => "this.placeholder = ''", :onblur => "this.placeholder = 'Time'", :class => "search-input search-hour"  %>

          <%= f.text_field :surface, :placeholder => "Surface", :onfocus => "this.placeholder = ''", :onblur => "this.placeholder = 'Surface'", :class => "search-input search-size"  %>
        </div>
        <%= f.submit "Find a visit agent", class: "search-submit"%>
        <% end %>
      </div>
  </div>

  <div class="our-values">
    <h3 class="our-values-title">Finding your home from afar should be that easy</h3>

    <ul class="our-values-list">
      <li class="our-values-list-item">
        <h4>Guarantee of results</h4>
        <span>Only high-quality pictures &amp; reports accepted</span>
      </li>
      <li class="our-values-list-item">
        <h4>100% trustworthy</h4>
        <span>Find your home led by the expertise of locals</span>
      </li>
      <li class="our-values-list-item">
        <h4>Getting rewarded</h4>
        <span>Earning money for knowing your neighborhood</span>
      </li>
    </ul>
  </div>

  <div class="our-community">
    <h3 class="our-community-title">Our community is worldwide</h3>
    <h4 class="our-community-sous-title">Discover our experts tips for all the biggest capitals of the world</h4>

    <ul class="our-community-list">
      <li class="our-community-list-item">
        <%= image_tag("citiy_sydney.png", class: "our-community-city-photo", alt: "Sydney") %>
        <span>Life tips for</span>
        <h5>Sydney</h5>
        <a href="" download>Download the kit</a>
      </li>
      <li class="our-community-list-item">
        <%= image_tag("citiy_berlin.png", class: "our-community-city-photo", alt: "Berlin") %>
        <span>Life tips for</span>
        <h5>Berlin</h5>
        <a href="" download>Download the kit</a>
      </li>
      <li class="our-community-list-item">
        <%= image_tag("citiy_london.png", class: "our-community-city-photo", alt: "London") %>
        <span>Life tips for</span>
        <h5>London</h5>
        <a href="" download>Download the kit</a>
      </li>
    </ul>

    <div class="learn-more">
      <span>Want to discover more about our experts?</span>
      <a href="">Meet the hubiquity community</a>
    </div>
  </div>
</section>