<%= render 'layouts/sidebar' %>
<div class="reportss wrapppper row col-sm-10">
	<h2 class="page-title">My visits</h2>
	<div class="potential-visiters">
		<h2>Upcoming visit:</h2>
		<% if @visiters.present? %>
			<% @visiters.each do |visit| %>
				<div class="visit-pending">
					<h3><%= visit[0].adress  %>, <%= visit[0].city  %>, <%= visit[0].zipcode  %></h3>
					<% if visit[1].present? %>
						<% visit[1].each do |visiter| %>
						    <article class="single-user">
						    	<span class="polymask"><%= image_tag(visiter.visiter.avatar.url(:thumb), :class => "content avatar") %></span>
						    	<p class="name-visitor">
									<%= visiter.visiter.firstname %>
									<%= visiter.visiter.lastname %>
						    	</p>

						    	<p class="ratings">13 reviews</p>

						    	<p class="where-to">
						    		<span class="title">Offered to visit</span><%= visit[0].adress  %>, <%= visit[0].city  %>, <%= visit[0].zipcode  %>
						    	</p>

						    	<p class="when">
						    		<span class="title">Date :</span> <%=  parseDatetime( visiter.visit.visitDate1, visiter.visit.visitTime1 ) %>
						    	</p>
								
								<div class="action">
					            	<%= link_to "Confirm" , visiter_accept_path( :visiter_id => visiter.id ), :class => "button accept-visit-button" %>

					            	<%= link_to "Deny" , visiter_refuse_path( :visiter_id => visiter.id ), :class => "button refuse-visit-button" %>
					            </div>
						    </article>
						<% end %>
					<% else %>
						<p class="no-offer">There's no offer pending right now.</p>
					<% end %>
				</div>
			<% end %>
		<% else %>
			<p> You don't have any visit pending </p>
		<% end %>
	</div>

	<div class="myvisits reportss">
		<h2>Scheduled visit:</h2>
		<% if @confirmed_visiters.present? %>
			<% @confirmed_visiters.each do |visiter| %>
			    <article class="confirmed-visit dash-block">
					<h3>Scheduled visit:</h3>
					<p class="when"> <%= parseDatetime( visiter.visit.visitDate1, visiter.visit.visitTime1 ) %> </p>

					<%= link_to "Cancel visit", visit_path(:id => visiter.visit.id), :method => :delete, class: "cancel-button" %>

					<p class="where-to"><%= visiter.visit.adress  %>, <%= visiter.visit.city  %>, <%= visiter.visit.zipcode  %></p>
					
					<span class="polymask"><%= image_tag(visiter.visit.requester.avatar.url(:thumb), :class => "content avatar") %></span>
			    	<p class="name-visitor">
			    		Visitor:
						<%= visiter.visit.requester.firstname %>
						<%= visiter.visit.requester.lastname %>
			    	</p>
			    </article>
			<% end %>
		<% else %>
			<p> You dont have any offer yet </p>
		<% end %>
	</div>

	<div class="visits-completed">
		<h2>Visits completed :</h2>
		<p> You didn't complet any visit yet </p>
	</div>
</div>