<%= render 'layouts/sidebar' %>
<div class="reportss wrapppper row col-sm-10">
	<h2 class="page-title">My visit reports</h2>
	<div class="potential-visiters">
		<h2>Waiting for scheduling :</h2>
		<% if @potential_visiters.present? %>
			<% @potential_visiters.each do |visiter| %>
				<% visiter.each do |visit| %>
				<%= visit.visit.adress %>
				    <article class="single-user">
				    	<span class="polymask"><%= image_tag(visit.visiter.avatar.url(:thumb), :class => "content avatar") %></span>
				    	<p class="name-visitor">
							<%= visit.visiter.firstname %>
							<%= visit.visiter.lastname %>
				    	</p>

				    	<p class="ratings">13 reviews</p>

				    	<p class="where-to">
				    		<span class="title">Offered to visit</span><%= visit.visit.city %>
				    	</p>

				    	<p class="when">
				    		<span class="title">Date :</span> <%=  parseDatetime( visit.visit.visitDate1, visit.visit.visitTime1 ) %>
				    	</p>
						
						<div class="action">
			            	<%= link_to "Confirm" , visiter_accept_path( :visiter_id => visit.id ), :class => "button accept-visit-button" %>

			            	<%= link_to "Deny" , visiter_refuse_path( :visiter_id => visit.id ), :class => "button refuse-visit-button" %>
			            </div>
				    </article>
			    <% end %>
			<% end %>
		<% else %>
			<p> You don't have any visit pending </p>
		<% end %>
	</div>

	<div class="myvisits-all">
		<h2>Visits to come :</h2>
		<% if @visits.present? %>
			<% @visits.each do |visit| %>
			    <article class="single-visit">
			        <p class="adress">
			            <%= visit.city %>
			            <%= visit.visitDate1 %>
			        </p>
			    </article>
			<% end %>
		<% else %>
			<p> You dont have posted any visit yet </p>
		<% end %>
	</div>
</div>