<aside class="col-sm-2">
	<ul class="side-menu">
		<li><%= link_to('Dashboard', dashboard_path) %></li>
		<li><%= link_to('My visits reports', reports_path) %></li>
		<li><%= link_to('My visits reviews', reviews_path) %></li>
		<!-- <li><a href="#">My reviews</a></li> -->
		<!-- <li><a href="#">Notifications</a></li> -->
		<li><%= link_to('Modify profile', edit_user_registration_path) %></li>
		<!-- <li><a href="#">View profile</a></li> -->
		<!-- <li><a href="#">Account</a></li> -->
		<!-- <li><a href="#">Money balance</a></li> -->
		<li><%= link_to('Disconnect', destroy_user_session_path, :method => :delete) %> </li>
	</ul>

	<div class="req-visits">
		<%= link_to('Request visit', new_visit_path) %>
		<%= link_to('Find a visit', visit_path) %>
	</div>
</aside>