<ul class="side-menu">
	<li><%= link_to('Dashboard', dashboard_path) %></li>
	<li><a href="#">My reviews</a></li>
	<li><a href="#">Messages</a></li>
	<li><a href="#">My Visits</a></li>
	<li><%= link_to('Modify Profil', edit_user_registration_path) %></li>
	<li><a href="#">View Profile</a></li>
	<li><a href="#">Account</a></li>
	<li><a href="#">Money Balance</a></li>
	<li><%= link_to('Disconnect', destroy_user_session_path, :method => :delete) %> </li>
</ul>

<div class="req-visits">
	<%= link_to('Request Visit', new_visit_path) %>
	<%= link_to('Find a visit', visit_path) %>
</div>