  <%= render 'layouts/sidebar' %>
  <div class="wrapppper">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
        <%= f.label :avatar, class: 'avatar-upload'  %>
        <%= f.file_field :avatar %>
    </div>

    <div class="field text-field">
      <%= f.email_field :email, autofocus: true, :onKeyDown => '$(this).parent().addClass("field-complete")' %>
      <%= f.label :email, :class => 'label-helper' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field text-field">
      <%= f.password_field :password, autocomplete: "off", :onKeyDown => '$(this).parent().addClass("field-complete")' %>
      <%= f.label :password, :class => 'label-helper' %> <i>(leave blank if you don't want to change it)</i>
    </div>

    <div class="field text-field">
      <%= f.password_field :password_confirmation, autocomplete: "off", :onKeyDown => '$(this).parent().addClass("field-complete")' %>
      <%= f.label :password_confirmation, :class => 'label-helper' %>
    </div>

    <div class="field text-field">
      <%= f.password_field :current_password, autocomplete: "off", :onKeyDown => '$(this).parent().addClass("field-complete")' %>
      <%= f.label :current_password, :class => 'label-helper' %> <i>(we need your current password to confirm your changes)</i>
    </div>

    <div class="field text-field">
      <%= f.text_field :firstname, :onKeyDown => '$(this).parent().addClass("field-complete")' %>
      <%= f.label :firstname, :class => 'label-helper' %>
    </div>

    <div class="field text-field">
      <%= f.text_field :lastname, :onKeyDown => '$(this).parent().addClass("field-complete")' %>
      <%= f.label :lastname, :class => 'label-helper' %>
    </div>

    <div class="field text-field">
      <%= f.text_field :telephone, :onKeyDown => '$(this).parent().addClass("field-complete")' %>
      <%= f.label :telephone, :class => 'label-helper' %>
    </div>


    <div class="field text-field">
      <%= f.text_area :bio, autocomplete: "off", :onKeyDown => '$(this).parent().addClass("field-complete")' %>
      <%= f.label :bio, :class => 'label-helper' %>
    </div>

    
    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>

  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>

  <!-- <%= link_to "Back", :back %> -->
</div>