<section class="signup connection">
  <div class="hexagon"></div>
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field text-field">
      <%= f.email_field :email, autofocus: true, :placeholder => 'Mail', :onKeyDown => '$(this).parent().addClass("field-complete")' %>
      <%= f.label :email, :class => 'label-helper' %>
    </div>

    <div class="field text-field">
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", :placeholder => 'Password', :onKeyDown => '$(this).parent().addClass("field-complete")' %>
      <%= f.label :password, :class => 'label-helper' %>
    </div>

    <div class="field text-field">
      <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => 'Password confirmation', :onKeyDown => '$(this).parent().addClass("field-complete")' %>
      <%= f.label :password_confirmation, :class => 'label-helper' %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</section>